.no_image {
    background: #0e215d;
    color: white;
    height: 50%;
}
/* .form_left_contact_control h2, p{
    font-size: 18px;
} */
.form-group label, input{
    font-size:18px;
}
.form-check-input[type=checkbox] {
    border-radius: 0.25em;
    border: 0.5px solid;
}
.form-check-label{
    margin-top: 0;
    padding-top: 0;
}
.questions_Contact{
    font-size: 18px;
    margin-top: 2rem;
}
.no_image h1 {
    width: 350px;
    height: 100px;
    margin-left: 5rem;
    font-size: 50px;
}

.main_contact {
    height: 100vh;
    background: white;
}

.contact_pink {
    margin-top: 0rem;
    padding-top: 0rem;
}

.form_contact {
    display: flex;
    /* justify-content: space-around; */
    padding: 5rem;
    background: white;
}

.form_left_contact_control {
    width: 50%;
    font-size: 25px;
}
.form_left_contact_control h2,p{
    line-height: 1;
}
.form_left {
    flex: 2;
    padding-left: 5rem;
}

.form_right {
    flex: 1;
    padding-right: 5rem;
}

.form-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 0.2rem;
}

.form-control {
    width: 320px;
    height: 50px;
    border-radius: 10px;
}

#exampleFormControlTextarea1 {
    width: 100%;
    height: 100px;
}

.btn-primary1 {
    width: 70px;
    height: 50px;
}

.questions_Contact {
    display: flex;
    flex-direction: column;
}

.form-group {
    padding: 0.4rem;
}

.form_contact {
    font-size: 20px;
}

/* .form-check {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
} */

@media screen and (max-width:1250px) {
    .form_left_contact_control {
        width: 100%;
        padding-right: 1rem;
        font-size: 18px;
    }
}

@media screen and (max-width:1050px) {
    .form-row {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0.2rem;
    }

}

@media screen and (max-width:800px) {

    .form_left_contact_control {
        width: 100%;
        padding-left: 0;
        font-size: 15px;
    }

    .form_left {
        padding-left: 0;
    }

    .form_right {
        padding-left: 4rem;
    }
}

@media screen and (max-width:600px) {
    .no_image h1 {
        text-wrap: wrap;
        margin-left: 1rem;
        width: 100%;
        height: 100%;
        font-size: 30px;
    }
    .form_right {
        padding-left: 0rem;
        width: 100%;
        padding-right: 0;
    }
    .form-row{
        font-size: 10px;
    }

    .form_contact {
        display: flex;flex-direction: column;
    }
    .form-row{
        /* display: none; */
        width: 100%;
    }
    .form-control{
        width: 100%;
    }
}

@media screen and (max-width:450px) {
    .form_contact {
        padding: 1rem;
    }
}