.left-content-fraitey {
    color: white;
}

.left-div-Fraitey {
    margin-top: 2rem;
    margin-left: 4rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 6rem;
    font-size: 30px
}

@media screen and (max-width:800px) {
    .left-content-fraitey {
        font-size: 25px;
        padding-bottom: 2rem;
    }

    .left-div-Fraitey {
        padding: 0;
        padding-right: 1rem;
    }
}

@media screen and (max-width:500px) {
    .left-content-fraitey {
        font-size: 17px;
        padding-bottom: 0rem;
    }

    .left-div-Fraitey {
        margin-left: 2rem;
        padding-right: 2rem;
    }
}